/* Estilo para a div que contém os filtros */

h2 {
    color: #000000; /* Cor do texto */
    background-color: #E9D6D6;
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
    text-align: center;
    margin: auto;
    
  }

#filtros {
  background-color: #E9D6D6; /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 20px; /* Margem inferior */
}

/* Estilo para os rótulos (labels) */
label {
  display: inline; /* Faz com que os rótulos ocupem a largura total disponível */
  margin-right: 8px;
  margin-bottom: 5px; /* Margem inferior */
}

/* Estilo para as caixas de seleção e campos de texto */
select, input[type="text"] {
  width: 100%; /* Faz com que ocupem a largura total disponível */
  padding: 8px; /* Espaçamento interno */
  margin-bottom: 10px; /* Margem inferior */
}

/* Estilo para o botão de submissão */
input[type="submit"] {
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Muda o cursor para indicar clicabilidade */
}