/* Estilo para a div que contém os filtros */

h2 {
    color: #000000; /* Cor do texto */
    background-color: #ffffff;
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    
  }

#filtros {

  position: absolute;
  top: 50px;
  left: 25px;
  width: 350px;
  height: 370px;
  background-color: #ccc;
  padding: 10px; /* Espaçamento interno */
  border-radius: 10px; /* Adicionado para bordas arredondadas */
}


/* Estilo para os rótulos (labels) */
label {
  display: inline; /* Faz com que os rótulos ocupem a largura total disponível */
  margin-right: 8px;
  margin-bottom: 5px; /* Margem inferior */
}

/* Estilo para as caixas de seleção e campos de texto */
select, input[type="text"] {
  width: 100%; /* Faz com que ocupem a largura total disponível */
  padding: 8px; /* Espaçamento interno */
  margin-bottom: 10px; /* Margem inferior */
  margin-top: 8px;
}

/* Estilo para o botão de submissão */
input[type="submit"] {
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Muda o cursor para indicar clicabilidade */
  margin-top: 15px;
  border-radius: 5px;
}

.experimento select{
  width: 140px;
  height: 35px;
}

.status select{
  width: 140px;
  height: 35px;
}

.ativos select{
  width: 140px;
  height: 35px;
}

.coordenadas input{
  width: 17px;
  height: 17px;
}

.bateria input{
  width: 180px;
  height: 15px;
}

.tags input{
  width: 185px;
  height: 15px;
}

.result-container {
  display: block;
  text-align: left;
  margin-top: 0px;
  position: absolute;
  right: 600px;
}
