<h1>Ativos</h1>

<%= form_tag(ativos_path, method: :get) do %>
  <label for="disabled">Filtrar por Habilitação:</label>
  <select name="disabled">
    <option value="todos">Todos</option>
    <option value="true">Desabilitado</option>
    <option value="false">Habilitado</option>
  </select>
  <%= submit_tag "Filtrar" %>
<% end %>